{{define "qrcode"}}
<!-- public/index.html -->

<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>OTP App</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">                
                <img height="200" width="200" src='data:image/png;base64, {{.}}' alt="qr-code" />                     
            </div>
        </div>
    </div>
</body>

</html>
{{end}}