# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.8
         
    working_directory: /go/src/2FAServer

    steps:
      - checkout   

      - run: go get -u github.com/golang/dep/cmd/dep
      - run: dep ensure
      - run: go build $(go list ./... | grep -v '/vendor/') 
      - run: go test -v $(go list ./... | grep -v '/vendor/')